.menu {
  width: 50%;
  height: 100%;
  background-color: #ffc613;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin-bottom: 2rem;
  }
}
.current-price {
  font-size: 20px;
  padding-top: 15px;
  font-weight: bold;
}

.current-price > span {
  margin-left: 1rem;
  color: red;
}

.menu-items {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
}
.menu-items:last-child {
  border-bottom: none;
}

.product-name {
  font-weight: bold;
  font-size: 2.5rem;
  color: #888;
}

.price,
.qty {
  font-size: 1.7rem;
  font-weight: bold;
}
.menu-button {
  height: 30px;
  color: #fff;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}
.increment {
  background-color: #3d9237;
}
.decrement {
  background-color: #545454;
}
